@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
	overflow: hidden;
}
html{
	overflow-y: auto;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	display: block;
	border:none;
}
div{
	display: block;
}

/*header部分*/
.header{
	width: 100%;
	height: 160px;
}
.header-top-con{
	width: 100%;
	height: 30px;
	background-color: #333333;
}
.header-top{
	display: flex;
	width: 1200px;
	height: 30px;
	line-height: 30px;
	background-color: #333333;
	margin:0 auto;
	font-size: 12px;
	color: #b0b0b0;
}
.header-top a{
	color: #b0b0b0;
}
.header-top a:hover{
	color: #ffffff;
}
.header-left{
	display: flex;
	width: 130px;
	height: 30px;
	background-color: #3d3d3d;
	line-height: 30px;
	z-index: 1;
	position: relative;
}

.header-left a{
	font-size: 12px;
	margin-left: 30px;
}
.header-left img{
	width: 16px;
	height: 12px;
	margin-left: 6px;
	margin-top: 9px;
	
}
.header-left:hover .header-nav{
	display: block;
}
.header-nav{
	width: 328px;
	height:160px;
	background-color: #ffffff;
	position: absolute;
	top:30px;
	font-size: 12px;
	display: none;
	z-index: 1000;
}
.header-nav a:hover{
	color: #fc4c02;
	}
.header-nav-one ul{
	width:105px ;
	text-align: center;
}
.header-nav-one p{
	margin-left: 22px;
}
.header-nav-one{
	float: left;
}
.header-right{
	display: flex;
	width: 343px;
	height: 30px;
	margin-left:736px;
	line-height: 30px;
}
.header-right img{
	width: 2px;
	height: 11px;
	margin-top: 10px;
}
.header-login{
	margin-right: 10px;
}
.header-registered{
	margin-left: 10px;
}
.header-order{
	margin:0 30px;
}
.phoneShopping{
	margin-left: 30px;
}


.header-bottom-con{
	width: 100%;
	height: 130px;
	background-color: #ffffff;
}
.header .header-bottom{
	width: 1200px;
	height: 130px;
	margin: 0 auto;
}
.header-bottom-one{
	display: flex;
	height: 95px;
	align-items: center;
	background-color: #ffffff;
}
.header-bottom-log{

}
.header-bottom-search{
	display: flex;
}
#header_search{
	width: 360px;
	height:34px;
	border-style: none;
	border: 1px solid #fc4c02;
	margin-left: 386px;
	outline: none;
}
#header_submit{
	width: 58px;
	height: 36px;
	border:1px solid #fc4c02;
	background: url(../img/searchLog.jpg);
	margin-right: 30px;
	outline: none;
}
.header-bottom-car{

}
.header-bottom-two{
	display: flex;
	height: 35px;
	line-height: 35px;
}
.header-bottom-nav{
	height: 35px;
	line-height: 35px;
	text-align: center;
}

.header-bottom-nav-one{
	width: 160px;
	height: 35px;
	background-color: #333333;
	float: left;
}
.header-bottom-nav-one a{
	font-size: 14px;
	color: white;
	line-height: 35px;
}
.header-bottom-nav-one a img{
	float: left;
	margin-top: 8px;
	margin-left: 34px;
	margin-right: -15px;
}


.header-bottom-nav-two {
	margin-left: 20px;
	float: right;
}
.header-bottom-nav-two a{
	font-size: 14px;
	color: #333333;
}
.header-bottom-nav-two a:nth-child(1){
	margin-left: 20px;
	margin-right: 40px;
}
.header-bottom-nav-two a:nth-child(3){
	margin-left: 40px;
	margin-right: 40px;
}
.header-bottom-nav-two a:nth-child(5){
	margin-left: 40px;
	margin-right: 40px;
}
.header-bottom-nav-two a:nth-child(6){
	margin-right: 20px;
}
.header-bottom-nav-two a:hover{
	color: #fc4c02;
}


.fl{
	float: left;
}
.fr{
	float: right;
}
.header-bottom-log a span{
	line-height: 24px;
    border-left: 1px solid #333333;
    color: #333333;
    font-size: 24px;
    padding-left: 22px;
    margin: 6px 0 0 22px;
    display: inline-block;
}
.stepflex {
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    margin-left: 440px;
}
.stepflex span{
	margin:0 5px;
}
.stepflex span em{
	margin-left: 10px;
	font-style: normal;
}
.stepflex .cur{
	color: #fc4c02;
}

.bodyPage-con{
	width: 100%;
}
/*tv-footer部分*/
.tv-footer-con{
	width: 100%;
	background-color: #ffffff;
	padding-bottom: 24px;
}
.tv-footer{
	width: 1200px;
	height:355px;
	margin:0 auto ;
	overflow: hidden;
	background-color: #ffffff;
}
.tv-footer-service{
	width: 1200px;
	height: 125px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #ffffff;
	float: left;
}
.tv-footer-service{
	float: left;
}
.tv-footer-service .img{
	float: left;
}
.tv-footer-service .titlt-con{
	float: right;
}
.tv-footer-service .title{
	font-size: 16px;
	color: #666666;
	padding-top: 10px;
	line-height: 1.5em;
}
.tv-footer-service p{
	font-size: 14px;
	color: #666666;
	line-height: 1.5em;
}
.tv-footer-service ul{
	height: 125px;
	display: flex;
}
.tv-footer-service ul li{
	text-align: center;
	margin:0 auto;
	margin-top: 29px;
}
.tv-footer-link{
	width: 1200px;
	height: 228px;
	background-color: #ffffff;
	display: flex;
}
.tv-footer-link-left{
	width: 740px;
	height: 190px;
	display: flex;
}
.tv-footer-link-left ul{
	width: 185px;
	height: 190px;
	flex: 1;
}
.tv-footer-link-left ul .link-title{
	font-size: 16px;
	color: #000000;
	height: 50px;
	line-height: 50px;
	margin: 10px 0;
}
.tv-footer-link-left ul li a{
	font-size: 14px;
	display: block;
	color: #666666;
	height: 30px;
	line-height: 30px;
}
 .tv-footer-link-left a:hover{
	color: #fc4c02;
}
.tv-footer-link-right{
	padding-top: 30px;
	padding-left: 300px;
	height: 204px;
	margin-right: 0px;
}

.tv-footer-link-right .phone-number{
	font-size: 30px;
	color: #fc4c02;
	line-height: 1.2em;
}
  .sale-after{
	font-size: 14px;
	color: #666666;
	padding-bottom: 13px;
}
.tv-footer-link-right .lin-que{
	width: 126px;
	height: 36px;
	border: 1px solid #fc4c02;

}
.lin-que img{
	margin-left: 16px;
	margin-top: 6px;
	float: left;

}

.lin-que p{
	float: right;
	margin-right: 16px;
	color: #fc4c02;
	font-size: 14px;
	line-height: 36px;
}
.attentionOur{
	margin-top: 15px;
}
.attentionOur li img{
	margin: 0 auto;
}
.attentionOur li:first-child{
	float: left;
}
.attentionOur li:last-child{
	float: right;
}
.attentionOur li p{
	display: block;
	font-size: 12px;
	color: #666666;
	line-height: 2em;
}


/*tv-footer-bottom部分*/


.tv-footer-bottom-con{
	width: 100%;
	background-color: #f6f7f8;
}
.tv-footer-bottom{
	width: 1200px;
	background-color: #f6f7f8;
	overflow: hidden;
}
.bottom-left{
	font-size: 12px;
	float: left;
}
.bottom-left a{
	color: #666666;
}
.bottom-left a:hover{
	color: #fc4c02;
}
.bottom-left-one{
	line-height: 22px;
	margin-top: 10px;
}
.bottom-left-two{
	float: left;
}
.bottom-left-two img{
	float: left;
}
.bottom-left-two a{
	float: left;
}
.bottom-right{
	float: right;
	
}
.bottom-right span{
	line-height: 16px;
	padding-left: 10px;
	font-size: 12px;
	color: #666666;
}
.bottom-right ul li{
	float: left;
	margin-left: 35px;
	margin-top: 16px;
}
.bottom-right ul li img{
	float: left;
}
.bottom-right ul li span{
	float: left;
}